<%- include('partials/header') %>
<h1>Welcome to Afghan Foodie Hub</h1>
<p>Order your favorite food online from various restaurants.</p>

<img src="/images/food.jpg" alt="Food Image" style="max-width: 100%; height: auto;">

<%- include('partials/footer') %>